* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: none;
  list-style: none;
  border-radius: none;
  background: none;
  background-color: none;
  box-sizing: border-box;
  list-style: none;
}

/* header */
.header {
  background-color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 13px 0 15px 0;
}
.header_section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header_logo {
  max-width: 150px;
  width: 100%;
}
.nav_list {
  display: flex;
  justify-content: space-around;
}
.nav_item a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding-left: 20px;
  font-weight: bold;
  color: black;
}
.nav_item a:hover {
  color: #bbcf21;
}
.header_button {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  padding: 12px 20px;
  letter-spacing: 3px;
  border: 2px solid black;
}
.header_button:hover {
  background-color: white;
  border: solid 2px #bbcf21;
  color: #bbcf21;
  font-weight: bold;
}
.header_burger-menu {
  display: none;
}
.header_burger-menu div {
  width: 35px;
  height: 5px;
  background-color: #bbcf21;
  margin: 6px 0;
}
.header_burger-menu:hover div {
  background-color: black;
}
@media only screen and (max-width: 1024px) {
  .header_section {
    justify-content: space-around;
  }
  .header_nav {
    display: none;
  }
  .header_button {
    display: none;
  }
  .header_burger-menu {
    display: block;
  }
}
@media only screen and (max-width: 790px) {
  .header_logo {
    max-width: 100px;
    width: 100%;
  }
  .header_burger-menu div {
    width: 20px;
    height: 3px;
    background-color: #bbcf21;
    margin: 4px 0;
  }
}
/* mian */
/* about */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.main_content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.content_text {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 100px;
}
.content_img {
  flex: 1.5;
}
.content_img img {
  width: 100%;
  height: 100%;
}
.content_first-row {
  background-color: black;
}
.content_first-row h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 35px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  word-spacing: 5px;
  max-width: 380px;
  width: 100%;
}
.content_first-row p {
  font-family: "Montserrat", sans-serif;
  color: grey;
  font-size: 15px;
  line-height: 30px;
  max-width: 380px;
  width: 100%;
  margin-top: 30px;
}
.content_first-row button {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: bold;
  max-width: 380px;
  width: 100%;
  margin-top: 50px;
  text-align: left;
  text-transform: uppercase;
}
.content_first-row button:hover {
  color: #bbcf21;
}
.content_second-row {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 0;
  padding-left: 100px;
}
.content_second-row h2 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  word-spacing: 5px;
  max-width: 300px;
  width: 100%;
}
.content_second-row p {
  font-family: "Montserrat", sans-serif;
  color: grey;
  font-size: 15px;
  line-height: 30px;
  max-width: 380px;
  width: 100%;
  margin-top: 30px;
}
.content_second-row button {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: bold;
  max-width: 380px;
  width: 100%;
  margin-top: 50px;
  text-align: left;
  text-transform: uppercase;
}
.content_second-row button:hover {
  color: #bbcf21;
}
.content_third-row {
  background-color: white;
}
.content_third-row h2 {
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 35px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  word-spacing: 5px;
  max-width: 350px;
  width: 100%;
}
.content_third-row p {
  font-family: "Montserrat", sans-serif;
  color: grey;
  font-size: 15px;
  line-height: 30px;
  max-width: 380px;
  width: 100%;
  margin-top: 30px;
}
.content_third-row button {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: bold;
  max-width: 380px;
  width: 100%;
  margin-top: 50px;
  text-align: left;
  text-transform: uppercase;
}
.content_third-row button:hover {
  color: #bbcf21;
}
@media only screen and (max-width: 1100px) {
  .content_first-row h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 35px;
    word-spacing: 2px;
    max-width: 230px;
    width: 100%;
  }
  .content_first-row p {
    font-family: "Montserrat", sans-serif;
    color: grey;
    font-size: 10px;
    line-height: 20px;
    max-width: 230px;
    width: 100%;
    margin-top: 30px;
  }
  .content_first-row button {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    max-width: 230px;
    width: 100%;
    margin-top: 50px;
    text-align: left;
    text-transform: uppercase;
  }
  .content_second-row h2 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 35px;
    word-spacing: 2px;
    max-width: 150px;
    width: 100%;
  }
  .content_second-row p {
    font-family: "Montserrat", sans-serif;
    color: grey;
    font-size: 10px;
    line-height: 20px;
    max-width: 230px;
    width: 100%;
    margin-top: 30px;
  }
  .content_second-row button {
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    max-width: 230px;
    width: 100%;
    margin-top: 50px;
    text-align: left;
    text-transform: uppercase;
  }
  .content_third-row h2 {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 35px;
    word-spacing: 2px;
    max-width: 200px;
    width: 100%;
  }
  .content_third-row p {
    font-family: "Montserrat", sans-serif;
    color: grey;
    font-size: 10px;
    line-height: 20px;
    max-width: 230px;
    width: 100%;
    margin-top: 30px;
  }
  .content_third-row button {
    font-family: "Raleway", sans-serif;
    color: black;
    font-size: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    max-width: 230px;
    width: 100%;
    margin-top: 50px;
    text-align: left;
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 790px) {
  .main:nth-child(1) {
    background-color: black;
  }
  .main_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content_text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    margin: 0;
  }
  .content_first-row-img {
    order: 1;
  }
  .content_first-row {
    order: 2;
  }
  .content_second-row-img {
    order: 3;
  }
  .content_second-row {
    order: 4;
  }
  .content_third-row-img {
    order: 5;
  }
  .content_third-row {
    order: 6;
  }
  .content_first-row h2 {
    width: 100%;
  }
  .content_first-row p {
    width: 100%;
  }
  .content_first-row button {
    width: 100%;
  }
  .content_second-row h2 {
    width: 100%;
  }
  .content_second-row p {
    width: 100%;
  }
  .content_second-row button {
    width: 100%;
  }
  .content_third-row h2 {
    width: 100%;
  }
  .content_third-row p {
    width: 100%;
  }
  .content_third-row button {
    width: 100%;
  }
}
/* blog */
.main_blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.blog_content {
  min-width: 300px;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.blog_article-1 {
  flex: 1;
  background-image: url(../../Media/Images/code.jpg);
}
.blog_article-2 {
  flex: 1;
  background-image: url(../../Media/Images/hand.jpg);
}
.blog_article-3 {
  flex: 1;
  background-image: url(../../Media/Images/dell.jpg);
}
.blog_article-4 {
  flex: 1;
  background-image: url(../../Media/Images/people.jpg);
}
.blog_content h2 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 25px;
  width: 100%;
  margin-left: 10px;
}
.blog_content p {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 12px;
  width: 100%;
  margin: 10px 0 5px 10px;
}
.blog_content button {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: bold;
  width: 100%;
  margin: 20px 0 50px 10px;
  text-align: left;
  text-transform: uppercase;
}
/* pruduct */
.main_product {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}
.product_content {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product_info img {
  max-width: 100px;
  width: 100%;
}
.product_info h3 {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: black;
  text-transform: capitalize;
}
.product_info p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: grey;
  margin-top: 10px;
  padding: 0 10px 0 10px;
}
@media only screen and (max-width: 1000px) {
  .main_product {
    margin-top: 40px;
  }
  .product_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product_info {
    padding-top: 30px;
  }
}
/* footer */
.footer {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_section {
  max-width: 1024px;
  width: 100%;
  /* max-height: 200px; */
  height: 100%;
  padding: 50px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section_left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left_1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left_1 img {
  width: 120px;
}
.footer_list li {
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 15px;
}
.footer_list li:hover {
  color: grey;
}
.left_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.section_right h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 3px;
  font-weight: bold;
  word-spacing: 5px;
  margin-bottom: 50px;
}
.section_right h3:hover {
  color: grey;
}
.section_right span {
  color: grey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}
@media only screen and (max-width: 1100px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .section_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .left_1 {
    margin-bottom: 30px;
  }
  .left_1 img {
    width: 120px;
  }
  .footer_list li {
    text-align: center;
  }
  .footer_list li:hover {
    color: grey;
  }
  .left_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 50px;
  }
  .section_right h3 {
    margin-bottom: 20px;
  }
  .section_right h3:hover {
    color: grey;
  }
  .section_right span {
    margin-bottom: 50px;
    color: grey;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize;
  }
}
